.container{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap:5rem;
}
h1{
    font-size:2.5rem;
    color: #00ffd5;
    font-family: fantasy;
    text-shadow: 1px 1px #00ffd5;
}
.buttons{
display: flex;
flex-direction: row;
gap:3rem;
}
.box{
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 100vh;
    gap:2rem;
    height: 16rem;
    width: 35rem;
    border: 2px solid hsl(180, 2%, 10%);
    box-shadow:0 0 10px #00ffd5;
    border-radius: 1rem;
}
.apartment{
    width: 10rem;
    height:5rem;
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    text-align: center;
    border-radius: 2rem;
    border: 2px solid #00ffd5;
    background-color: black;
    color: #00ffd5;
}
.apartment:hover{
    border:2px solid #00ffd5;
    background-color: #00ffd5;
    color: black;
    transition: 0.7s;
}
.hostel{
    width: 10rem;
    height:5rem;
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    text-align: center;
    border-radius: 2rem;
    border: 2px solid #00ffd5;
    background-color: black;
    color: #00ffd5;
}
.hostel:hover{
    border:2px solid #00ffd5;
    background-color: #00ffd5;
    color: black;
    transition: 0.7s;
}
button{
    height: 12.5rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    font-size: large;
}
body{
    background-color: black;
}
